<section class='dashboard'>
  <h2>Hello <fb:name uid='<%= current_user.identifier %>' useyou='false'></fb:name>!</h2>
  <article>
    <h3><%= link_to 'Profile Details', profile_path %></h3>
    <p>User profile.</p>
  </article>
  <article>
    <h3><%= link_to 'Timeline (News Feed)', timeline_path %></h3>
    <p>Show your timeline and update status.</p>
  </article>
</nav>

<script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      data: 'tracking information for the user'
    });
  });
});
</script>